<div class="titulo">
    <h1 mat-dialog-title>Nova viagem</h1>
</div>
<div mat-dialog-content>
    <form class="form-todo" [formGroup]="travelForm">
        <mat-form-field class="form-full-width">
            <mat-label>Cidade de destino</mat-label>
            <input matInput placeholder="" formControlName="cidade" name="cidade">
        </mat-form-field>
        <div fxLayout="row wrap">
            <div fxFlex="50" fxFill fxLayoutAlign="start center">
                <mat-form-field class="form-full-width">
                    <mat-label>Data da viagem</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFill fxLayoutAlign="start center">
                <mat-form-field class="form-full-width">
                    <mat-label>Horário da viagem</mat-label>
                    <input matInput type="time" placeholder="" formControlName="hora" #time/>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button style="width: 45%;" mat-button (click)="close()">Cancelar</button>
    <button style="width: 45%;" mat-raised-button color="primary" (click)='scheduleTrip()'>Adicionar</button>
</div>