<div class="pating_table">
    <table *ngIf="lista"  class="mat-elevation-z8">
        <thead>
            <th>Destino</th>
            <th>Data e Hora</th>
            <th colspan="2">Opções</th>
        </thead>
        <tr *ngFor="let item of lista">
            <td  >{{item.destino}}</td>
            <td >{{item.data}}</td>
            <td>
                <button  style="margin-right: 15px;" mat-flat-button color="primary">
                    Editar
                    <mat-icon>edit</mat-icon>
                </button>
                <button  mat-flat-button color="warn">
                    Excluir
                    <mat-icon>delete</mat-icon>
                </button>             
            </td>
        </tr>
    </table>
</div>