.titulo-central {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.example-spacer {
    flex: 11 auto;
}

.font_toolbar_row{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
}

mat-toolbar{
    background-image: linear-gradient(to bottom right, #575757, #9B9B9B);
    transition: 1s;
}
